<div class="card col-md-12">
  <div class="card-body">
    <div class="row" style="text-align: left">
      <div class="card col-md-12" *ngFor="let items of loggedInUserDetails">
        <h4>Username : {{ items.username }}</h4>
        <h4>Name : {{ items.name }}</h4>
        <h3>{{ this.errorMsg }}</h3>
      </div>
    </div>
    <h1 style="text-align: center">Posts</h1>
    <div class="row" style="text-align: left">
      <div class="card col-md-12" *ngFor="let items of posts">
        <h3>{{ items.title }}</h3>
        <input type="text" *ngIf="!edit" [(ngModel)]="items.body" />
        <p *ngIf="edit">{{ items.body }}</p>
        <a (click)="editButton()">edit</a>
        <a (click)="saveButton(items)">save</a>
      </div>
    </div>
  </div>
</div>
